<nav class="navbar navbar-light bg-light">
  RM Portal
</nav>

<div class="container">
  <br/>
  
  <div class="card">
    <div class="card-header">
      <b>Upload document</b>
    </div>
    <div class="card-body">
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Client Id</label><br/>
            <!--<input type="text" class="form-control" id="clientId" placeholder="" formControlName="clientId">-->
            <select class="form-control" id="clientId" (change)="onChange($event)">
              <option *ngFor="let id of listOfClientId" [ngValue]="id">{{ id }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="document">Document</label><br/>
            <input type="file" id="document" (change)="onFileChange($event)" #fileInput>
          </div>
          <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </form>
      </div>
      <br/>
      <div class="alert alert-danger" role="alert" *ngIf="uploadErrorMessage.length > 0">
        {{ uploadErrorMessage }}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="uploadSuccessMessage.length > 0">
        {{ uploadSuccessMessage }}
      </div>
    </div>
  </div>
  <br/><br/>

  <div *ngIf="listOfDocuments.length === 0">
    <div class="alert alert-info" role="alert">
      <i class="fa fa-info-circle"></i>&nbsp;&nbsp;There are no documents upload.
    </div>
  </div>

  <div *ngIf="listOfDocuments.length > 0">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Client ID</th>
          <th scope="col">Document</th>
          <th scope="col">Last modified</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of listOfDocuments">
          <td>{{document.clientId}}</td>
          <td>{{document.document}}</td>
          <td>{{document.lastModified}}</td>
          <td>{{document.status}}</td>
          <td><button type="button" class="btn btn-info btn-sm" (click)="previewDocument(document)"><i class="fa fa-eye"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>