<nav class="navbar navbar-light bg-light">
  Client Portal
</nav>

<div class="container">
  <br/>
  <button type="button" class="btn btn-primary" (click)="backToClientPortal()"><i class="fa fa-undo"></i> Back</button>
  <br/><br/>
  <embed src="assets/sample.pdf" width="100%" height="650" alt="pdf" type="application/pdf">
  
  <br/>
  <p>
    By signing in the box below and saving it, your signature will be added to the above document and indicate that you have acknowledged the details.
  </p>
  <div class="wrapper">
    <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
  </div>
  <br/>
  <button type="button" class="btn btn-danger" id="save-png">Save</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-warning" id="clear">Clear</button>
</div>